header {
    background-image: url("#{resource['image:header-bg.png']}");
    background-repeat: repeat;
    background-position: bottom;
    padding-bottom: 20px;
}

.errorMessage {
    color: red;
    margin: 8px;
}

.headerGrid {
    width:100%;
}

.headerGrid tr td {
    border-style: none;
}

.logoutColumn {
    text-align: right;
}

.hidden {
    display: none;
}

.login {
    cellpadding: "5";
}
